# Configuração para publicação no npm
@gilbert_oliveira:registry=https://registry.npmjs.org/

# Configuração para publicação no GitHub Packages
@gilbert:registry=https://npm.pkg.github.com/

# Configuração de autenticação
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN} 